* {
  margin: 0px;
  padding: 0px;
}
/* Navigation bar */
#navbar {
  align-items: center;
  display: flex;
  padding: 0%;
  width: 100%;
  height: 55px;
  background-color: rgb(160 0 0 / 77%);
}

#navbar div {
  padding-left: 10px;
}
.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition-property: all;
}

/* Company Name */
#brand a {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(240, 240, 240);
}

.logo:hover {
  transform: scale(1.1);
}

#navbar ul {
  display: flex;
  padding-left: 10px;
  align-items: center;
}

.page {
  list-style: none;
}

.page a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 3px 20px;
  border-radius: 20px;
  font-size: 18px;
}

.page a:hover {
  background-color: white;
  color: black;
}

#login {
  position: absolute;
  right: 85px;
}

#signup {
  position: absolute;
  right: 0px;
}

#login a {
  font-size: larger;
  font-family: serif;
}

#signup a {
  font-size: larger;
  font-family: serif;
}

/* Section1 */

.section1{
  height: 500px;
}

#HDImage {
  width: 100%;
  height: 300px;
}

#HDImage img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

#home {
  width: 100%;
  height: 500px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  background: url("../src/HDIMage.jpeg") no-repeat center center/cover;
  background-repeat: no-repeat;
}

#brandname {
    text-shadow: 2px 3px black;
  color: white;
  font-size: 8rem;
}

#Tagline {
    font-family: 'Bree Serif', serif;
    text-shadow: 2px 2px rgb(56, 56, 56);
  color: white;
  font-size: 2rem;
}

/* SearchBar */

#search {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
  width: 42%;
  height: 50px;
  background-color: #fff;
  align-items: center;
  border-radius: 10px;
  margin: 20px 0px;
}

#searchbar {
  display: inline-block;
  position: absolute;
  right: 0px;
  border:none;
  width: 61%;
 padding: 0px 5px;
  height: 40px;
  border-radius: 25px;
  font-size: 20px;
  margin: 0px 10px;
  outline: none;
}

#pin{
    height: 20px;
    width: 2.5%;
    margin-right: 10px;
}

#city{
  width: 22%;
}

#cities{
    outline: none;
    font-size: 17px;
    width :100%;
    height: 40px;
    border: 0px;
}

#searchbtn{
    width: 10%;
    height: 30px;
    background-color: #fff;
    border: 0px; 
    cursor: pointer;
}

#searchimg{
    width: 40%;
    height: 80%;

}

/* Section2 */

#section2{
  display: flex;
  width: 100%;
  height: 350px;
  align-items: center;
  justify-content: center;
}

#section2::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 350px;
  z-index: -1;
  opacity: 1;
  background-color: white;

}

.boxsmall{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: auto;
}

.boxsmall-img{
  width: 160px;
  height: 160px;
}

/* heading */
.boxsmall h3{
  font-size: 1.4rem;
  font-family: 'Mukta', sans-serif;
}

.boxsmall p{
  text-align: center;
  font-family: 'PT Serif', serif;
}



/* Section3 */

/* .section3-0{
  width: 100%;
  height: 750px;
  background-color: rgb(213 201 255);
  border: double #888888;
  border-width: 7px 0px;
  }


.section3-0-1{
  display: flex;
 margin: 5% 10%;

} */


.section3{
  display: grid;
  grid-gap: 5rem 1rem ;
  grid-template-columns: repeat(auto-fit, minmax(280px,auto));
  background-color: rgb(213 201 255);
  border: double #696969;
  border-width: 7px 0px;
  padding: 5rem 5rem;
  background: linear-gradient(to right, #ffd89b 20%, #19547b);
}

.box001{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: auto;
  background-color: ghostwhite;
  border-radius: 25px;
  box-shadow: #525971 2px 1px 3px 2px;
  position: relative;
  transition: all 0.05s ease-in 0.2s;
}

.box001:hover{
  box-shadow: #2d3242 4px 2px 6px 2px;
  transform: scale(1.05);
  cursor: pointer;
}

.box001img{
  object-fit: cover;
  border-radius : 25px 25px 0px 0px;
  height: 80%;
  width: 100%;
  position: absolute;
  top: 0px;

}


.box001 h2{
  position: absolute;
  color: #3e3e3e;
  bottom: 13px;
  font-family: Okra,Helvetica,sans-serif;
  font-weight: 150;
}


.letter p{
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

/* Section4 */

.section4{
  background-color: rgba(0, 0, 0, 0.2);
  padding: 3rem 4rem;
  height: 200px;
}

.newsletter_title{
  text-align: center;
  padding: 1.5rem;
}


.newsletter_title h1{
  font-family: "Dosis", sans-serif;
  font-size: 3em;
  font-weight: bold;
  /* color: #e71247; */
}


.mail input{
  width: 55%;
  height: 3rem;
  box-sizing: border-box;
  padding: 5px 10px;
  outline: none;
}

.mail button{
  width: 25%;
  background-color: #e71247;
  height: 3rem;
  cursor: pointer;
  outline: none;
  border: 0px;
}

.newsletter_body{
  display: grid;
  grid-template-columns: 1fr 1.5fr;

}

.newsletter_body h1{
  color: #e71247;
}


/* Footer */
.footer{
  background-color: #222;

}

.footer_top{
  display: grid;
  padding: 5% 10%;
  grid-template-columns: repeat(4,1fr);
}

.footer_box h3{
  padding: 10px 0;
  color: white;
  font-family: "Dosis", sans-serif;
  text-decoration: underline;
}

.footer_box{
  display: grid;
  row-gap: 0.5rem;
}

.footer_box a{
  text-decoration: none;
  color: white;
  font-family: "Dosis", sans-serif;
}

.footer_box a:hover{
  color: #e71247;
}

.footer_end p{
  color: white;
  text-align: center;
}
